.editor-field {
    transition: background-color 0.5s ease-in-out;
}
.editor-field.unsaved {
    background-color: #FFDDDD;
}
.editor-field li a {
    cursor: default;
}


dd[data-type=enum],
dd[data-type=tags] {
    cursor: default;
}

dd[data-type=tags] .add {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: 1ex;
    border-radius: 0.4em;
    text-align: center;
    line-height: 0.8em;
    background-color: rgb(0, 136, 204);
    color: white;
    visibility: hidden;
}
dd[data-type=tags]:hover .add {
    visibility: visible;
}

.dropdown-menu input[type=search] {
    display: block;
    margin-left: 1ex;
    margin-right: 1ex;
}
.dropdown-menu-in {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.dropdown-menu-in .implicitly-selected {
    background-color: rgb(217, 237, 247);
}
