.editor-field {
    transition: background-color 0.5s ease-in-out;
}
.editor-field.unsaved {
    background-color: #FFDDDD;
}
.editor-field li a {
    cursor: default;
}


dd[data-type=enum],
dd[data-type=tags],
dd[data-type=int] {
    cursor: default;
}

dd[data-type] .action-button {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: 1ex;
    border-radius: 0.4em;
    text-align: center;
    line-height: 0.8em;
    visibility: hidden;
    color: rgb(153, 153, 153);
    border: 1px solid rgb(153, 153, 153);

    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
dd[data-type].shown .action-button,
dd[data-type]:hover .action-button {
    visibility: visible;
    background-color: rgb(0, 136, 204);
    border-color: transparent;
    color: white;
}

dd[data-type=int] .the-value {
    display: inline-block;
    min-width: 2em;
}

.dropdown-menu input[type=search] {
    display: block;
    margin-left: 1ex;
    margin-right: 1ex;
}
.dropdown-menu-in {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.dropdown-menu-in .implicitly-selected {
    background-color: rgb(217, 237, 247);
}
