@font-face {
  font-family: 'PTCG Symbols';
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/ptcg-symbols.woff") format('woff');
}

.ptcg-type,
.ptcg-cardclass {
    display: inline-block;
    height: 1em;
    width: 1em;
    margin-right: 0.2ex;
    cursor: default;
}

.ptcg-type {
    border-radius: 1em;
    border: 0.4pt solid black;
    font-family: 'PTCG Symbols';
    text-transform: lowercase;
    color: black;
    text-align: left;
    font-weight: normal;
    cursor: default;
}

.ptcg-cardclass {
    text-align: center;
    font-weight: bold;
}

.ptcg-type-null {
    background: #444444;
    background: radial-gradient(ellipse at 50% 50%, #888888 25%,#ffffff 100%);
    border-style: none;
}

.ptcg-type-C {
    background: #cccccc;
    background: radial-gradient(ellipse at 75% 25%, #ffffff 0%,#a8a8a8 100%);
}

.ptcg-type-L {
    background: #FDF947;
    background: radial-gradient(ellipse at 75% 25%, #ffffff 0%,#FDF947 15%,#7A4B00 100%);
}

.ptcg-type-R {
    background: #FF7F2F;
    background: radial-gradient(ellipse at 75% 25%, #ffffff 0%,#FF7F2F 15%,#A01D00 100%);
}

.ptcg-type-G {
    background: #99B837;
    background: radial-gradient(ellipse at 75% 25%, #ffffff 0%,#99B837 15%,#3A6C27 100%);
}

.ptcg-type-W {
    background: #5FA8DA;
    background: radial-gradient(ellipse at 75% 25%, #ffffff 0%,#72C4F2 15%,#214B8C 100%);
}

.ptcg-type-P {
    background: #C593A7;
    background: radial-gradient(ellipse at 75% 25%, #ffffff 0%,#EFB4C8 15%,#402B40 100%);
}

.ptcg-type-F {
    background: #D04406;
    background: radial-gradient(ellipse at 75% 25%, #ffffff 0%,#E76800 15%,#722C15 100%);
}

.ptcg-type-D {
    background: #336585;
    background: radial-gradient(ellipse at 75% 25%, #ffffff 0%,#437292 15%,#336585 50%,#1B1B1B 100%);
}

.ptcg-type-M {
    background: #AAAAAA;
    background: radial-gradient(ellipse at 75% 25%, #ffffff 0%,#CCCCCC 15%,#666666 50%,#1C1C1A 100%);
}

.muted.ptcg-type,
.muted .ptcg-type {
    border-color: rgb(153, 153, 153);
    color: rgb(153, 153, 153);
    background: transparent;
}

                          /* subdued       name dark   lighter */
.label-A { background-color: #B8D2EC; } /* blue 185AA9 5A9BD4  */
.label-B { background-color: #D9E4AA; } /* gree 008C48 7AC36A  */
.label-C { background-color: #EBC0DA; } /* pink B43894 D77FB4  */
.label-D { background-color: #F3D1B0; } /* oran F47D23 FAA75B  */
.label-E { background-color: #D5B2D4; } /* purp 662C91 9E67AB  */
.label-F { background-color: #F2AFAD; } /* red  EE2E2F F15A60  */
.label-G { background-color: #DDB9A9; } /* brow A21D21 CE7058  */
.label-H { background-color: #CDCDCD; } /* gray 0D0E0E 707173  */
EBC0DA